html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/clouds.png') repeat;
    font-family: 'Coda', cursive;
    background-size: cover;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

#deck {
    width: 660px;
    min-height: 660px;
    background: #6f390e url('../img/grass.jpeg');
    padding: 32px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 15px;
}

#deck .card {
    height: 125px;
    width: 125px;
    background: #828282 url('../img/stone.jpeg');
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transform: rotateY(0deg);
    transition: 0.3s;
}

#deck .card img {
    display: none;
}

#deck .card.open {
    background: #ffffff;
    cursor: default;
    transform: rotateY(180deg);
    transition: 0.3s;
}

#deck .card.show img {
    display: block;
    width: 80%;
    height: auto;
}

#deck .card.match {
    cursor: default;
    background: #747474;
    font-size: 33px;
    animation: tada linear 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
}

#deck .card.match img {
    display: block;
    width: 80%;
    height: auto;
}

/*animation code from cssanimate.com*/
@keyframes tada {
    0% {
        transform: rotate(0deg) scaleX(1.00) scaleY(1.00);
    }
    10% {
        transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
    }
    20% {
        transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
    }
    30% {
        transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    40% {
        transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    50% {
        transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    60% {
        transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    70% {
        transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    80% {
        transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    90% {
        transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    100% {
        transform: rotate(0deg) scaleX(1.20) scaleY(1.20);
    }
}

/*disables doubleclick and clicking too much*/
#deck .card.blockClick {
    pointer-events: none;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.timer {
    margin: 0 0.5em;
    display: inline-block;
}

/*
 * Styles for gameover screen
 */

.curtain {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.curtain:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 10% auto;
    padding: 20px;
    background: #ffffff url('../img/sand.jpeg') repeat;
    border-radius: 5px;
    width: 60%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popCont {
    margin: 10% auto;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #E5F720;
}

.popup .congrMessage,
.stats {
    max-height: 30%;
    overflow: auto;
    text-align: center;
}

.congrMessage {
    margin: 0 auto 1em;
}

.pShow {
    visibility: visible !important;
    opacity: 100 !important;
}

#starStats {
    display: inline-block;
    padding: 0;
    margin: 0 5px 0 0;
}

#starStats li {
    list-style: none;
    display: inline-block;
    margin: 0 0.1em;
}

#retry {
    background-color: #141214;
    padding: 0.7rem 1rem;
    font-size: 1.1rem;
    display: block;
    margin: 1em auto;
    width: 50%;
    color: #ffffff;
    border-radius: 5px;
}
